@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px 0;
}

.hamburger:hover .bar,
.hamburger:active .bar {
  background-color: #10b981; /* Tailwind's emerald-500 color */
}

.active:nth-child(1) {
  transform: rotate(-45deg) translate(-2px, 5px);
}

.active:nth-child(2) {
  display: none;
}

.active:nth-child(3) {
  transform: rotate(45deg) translate(-1px, -4px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out;
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}

.hover-scale {
  transition: transform 0.2s ease-out;
}

.hover-scale:hover {
  transform: scale(1.05);
}
